.env

/docker/mysql/data
/docker/mysql/dumps/*

/public/assets

/storage/cache
/storage/formatter/*
/storage/less
/storage/locale
/storage/logs
/storage/sessions/*
/storage/tmp
/storage/views/*

/vendor

!/**/.gitkeep
